---
layout: default
---
<section class="section">
    <h2 class="section-header">{{ page.heading | escape }}</h2>
    <div class="home-intro">{{ content }}</div>
    <h3 class="subsection-header">{{ page.subheading | escape }}</h3>
    {% assign sections = site.about | sort: 'order' %}
    {% for section in sections %}
    <div class="about-subsection">
        {% if section.title and section.title != empty %}<h4>{{ section.title | escape }}</h4>{% endif %}
        {{ section.content | markdownify }}
    </div>
    {% endfor %}
</section>
